<nav class="stellar-navbar">
  <div class="top-container">
    <div class="brand-name">
      <div class="site-name">
        <a routerLink="/games-list" matTooltip="Home">Game Backlog</a>
      </div>
    </div>

    <div class="nav-links">
      @if (authService.isLoggedIn()){
        <button (click)="logout()">Logout</button>
      } @else {
        @if(isLoginPage){
          <a routerLink="/signup">Sign Up</a>
        } @else {<a routerLink="/login">Login</a>}


      }
    </div>

  </div>


  <div class="bottom-container">
    <div class="lists-btns">
      @if (authService.isLoggedIn()) {
        <button routerLink="/likes">
        Liked<mat-icon>favorite</mat-icon>
        </button>
        <button routerLink="/owned">
          Owned<mat-icon>price_check</mat-icon>
        </button>
        <button routerLink="/backlog">
          Backlog<mat-icon>playlist_add</mat-icon>
        </button>
      }
    </div>
  </div>

</nav>
