<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <input type="text" formControlName="username" placeholder="Username">
      @if (signupForm.get('username')?.hasError('required') && signupForm.get('username')?.touched) {
        <div class="error">Username is required!</div>
      }
      @if(signupForm.get('username')?.hasError('serverError')) {
        <div class="error">{{signupForm.get('username')?.getError('serverError')}}</div>
      }
    </div>
    <div class="form-group">
      <input type="text" formControlName="email" placeholder="Email">
      @if (signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched) {
        <div class="error">Email is required!</div>
      }
      @if (signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched) {
        <div class="error">Correct Email Address is required! example&#64;email.com</div>
      }

      @if(signupForm.get('email')?.hasError('serverError')) {
        <div class="error">{{signupForm.get('email')?.getError('serverError')}}</div>
      }
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Password">
      @if (signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched) {
        <div class="error">Password is required!</div>
      }
      @if (signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched) {
        <div class="error">Password must be at least 8 characters!</div>
      }
    </div>
    <div class="form-group">
      <input type="password" formControlName="password_confirmation" placeholder="Confirm Password">
      @if (signupForm.get('password_confirmation')?.hasError('required') && signupForm.get('password_confirmation')?.touched) {
        <div class="error">Confirm Password is required!</div>
      }@if (signupForm.hasError('passwordMismatch') && signupForm.get('password_confirmation')?.touched) {
      <div class="error">Passwords do not match!</div>
      }
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Submit</button>

  </form>
  <div class="result">{{ result() }}</div>
  @if (apiErrors.length > 0) {
    <div>
      <ul>
        @for (error of apiErrors; track $index) {
          <li> {{error}} </li>
        }
      </ul>
    </div>
  }
</div>
