#sidebar{
  position: fixed;
  z-index: 19;
  width: 200px;
  height: calc(100vh - 8rem);
  background-color: #004085db;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px;
}

.open-arrow{
  position: fixed;
  z-index: 20;
  padding: 3px;
  margin: 3px;
  color: whitesmoke;
}

.close-arrow{
  position: fixed;
  z-index: 25;
  padding: 3px;
  margin: 3px;
  color: whitesmoke;
  left: 150px;
}

.open-arrow:hover, .close-arrow:hover{
  cursor: pointer;
  scale: 1.1;
}

.reset{
  display: flex;
  flex-direction: row;
}

#reset-form-btn, #reset-filter-btn{
  cursor: pointer;
  padding: 3px;
  margin: 3px;
  scale: .5;
}

button{
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
  align-self: center;
}

button:hover{
  background-color: white;
    color: #004085;
    scale: 1.1;
    transition: 0.5s;
}

#search{
  width: 90%;
}

.form-group{
  padding: 3px;
  margin: 5px;
}

.checkbox-group{
  display: flex;
  flex-direction: column;
}

.section-label{
  cursor: pointer;
}
